include head

include header

.main-container
  body
    h1 Movie Search Engine
    .row
      .col-lg-6
        .input-group
          input.form-control(type='text', placeholder='Search for...')
          span.input-group-btn
            button.btn.btn-secondary(type='button') Go!


include footer
