html {
  font-family: Verdana;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  color: #424242;
  font-weight: 100;
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0 auto;
  background-color: #646464;
  box-shadow: 2px 2px 5px #888888;
}

.nav {
  margin-right: 2em;
  flex-direction: row;
}

.nav-link {
  font-family: Verdana;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 10vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: .5em;
}

.input-group {
  align-items: center;
}
.btn-primary {
  background-color: gray;
  margin-top: 1em;
  border: 0;
}

ul {
  padding: 0;
  margin-top: 1em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-list-container {
  display: flex;
}
.movie-list-item {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #d1d1d1;
  border-radius: 4px;
}

footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  background-color: #646464;
}

footer h4 {
  color: yellow;
  font-weight: 300;
}
